<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <h3>This is a flask app basic</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae amet labore?
    </p>
    <a href={{url_for('services')}}>this is a service link</a><br>
    <a href={{url_for('about')}}>this is a about page link</a><br>
    
</body>
</html>